#cart-container{
  max-width: 50%;
  margin: auto;
}

.cart-tarjeta-producto{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.un-cuarto{
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}


.img-cart{
  margin: 10px 0;
  width: 200px;
  object-fit: cover;
  
  
}

.cart-tarjeta-producto img{
  height: 200px;
}

.cart-tarjeta-producto h3{
  width: 130px;
}
.cart-tarjeta-producto div{
  
  padding: 3px;
  border-radius: 5px;
}

.cart-tarjeta-producto button{
  width: 40px;
  height: 40px;
  margin: 0 10px;
}

/* cart totales */
#totales{
  text-align: center;
}

.parrafo-totales{
  margin: 20px 120px;
  display: inline-block;
  font-size: 1.5rem;
}

#totales button{
  padding: 20px;
  margin: 20px;
}

#carrito-vacio{
  text-align: center;
}