#cart-container{
  max-width: 50%;
  margin: auto;
}

.cart-tarjeta-producto{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  gap: 20px;
}

.un-cuarto{
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.cart-tarjeta-producto img{
  height: 100px;
}

.cart-tarjeta-producto h3{
  width: 130px;
}
.cart-tarjeta-producto div{
  
  padding: 3px;
  border-radius: 5px;
}

.cart-tarjeta-producto button{
  width: 40px;
  height: 40px;
  margin: 0 10px;
}

#totales{
  text-align: center;
}

#carrito-vacio{
  text-align: center;
}